@import 'styles/utils';

.container {
  width: 94%;
  max-width: 450px;
  margin: 0 auto;
  background-color: $grayscale00;
  border-radius: 20px;
  overflow: hidden;
}

.contents {
  width: 86%;
  padding: 20px 0;
  margin: 0 auto;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.form {
  margin-top: 30px;
}

.inputSet {
  & + & {
    margin-top: 15px;
  }

  p {
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  input {
    width: 100%;
    padding: 15px 13px;
    border: 1px solid $grayscale50;
    border-radius: 5px;
    outline-color: $pointColor;
  }
}

.message {
  margin-top: 15px;

  p {
    color: $grayscale80;
    font-size: 14px;
  }

  p + p {
    margin-top: 5px;
  }
}

.buttonWrapper {
  border-top: .1rem solid $grayscale20;

  button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: $pointColor;
    background-color: $grayscale00;
  }
}
