@import 'styles/utils';

.container {
  width: 94%;
  max-width: $content-width;
  padding: 15px 0 30px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: 500;

  strong {
    color: $pointColor;
  }
}

.add {
  border: none;
  outline: none;
  font-size: 14px;
  color: $pointColor;
  background-color: transparent;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  min-height: 300px;
  max-height: 75vh;
  border: 1px solid $grayscale50;
  border-radius: 10px;
  overflow: auto;

  &.empty {
    align-items: center;
    justify-content: center;
  }
}

.relation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.relationName {
  font-size: 16px;
  margin-bottom: 8px;
}

.relationEmpty {
  color: $grayscale80;
  font-size: 14px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;

  & + & {
    margin-top: 7px;
  }
}

.tag {
  padding: 2px 8px;
  border: 1px solid $pointColor;
  border-radius: 10px;
  font-size: 12px;
  color: $pointColor;

  &.category {
    color: #008800;
    border-color: #008800;
  }
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: $grayscale80;
  color: $grayscale00;
  border-radius: 50%;
  border: none;
  outline: none;
}

.buttonWrapper {
  position: fixed;
  bottom: 40px;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 20px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}
