// color
$grayscale00: #ffffff;
$grayscale10: #f9fafb;
$grayscale20: #f1f4f8;
$grayscale30: #eceff3;
$grayscale40: #e2e4ea;
$grayscale50: #afb5c3;
$grayscale60: #afb5c3;
$grayscale70: #9398a3;
$grayscale80: #747a81;
$grayscale90: #4f565c;
$grayscale100: #1e2328;
$pointColor: #197f95;

// responsive
$device-desktop: 62em; // 992px
$device-tablet: 48em; // 768px

// z-index
$index-header: 50;

$content-width: 1300px;
