@import 'styles/utils';

.container {
  width: 96%;
  max-width: 800px;
  padding-top: 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.title {
  font-size: 18px;
  font-weight: 500;

  strong {
    color: $pointColor;
  }
}

.shareButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.result {
  margin-top: 20px;
  min-height: 300px;
  border: 1px solid $grayscale50;
  border-radius: 10px;
  overflow: auto;
}

.buttonWrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
